h1{
      font-size: 60px;
    font-weight: 300;
    line-height: 1.25;
}
h2{
 
    opacity: 1;
    border-bottom: 0;
    float: left;
    display: inline-block;
    width: 172px;
    height: 39px;
    padding-left: 80px;
    
    
}
nav a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 600;
  font-size: large;
  
}
nav{
  text-align: right;
  padding-top: 22px;
}
#header{
  padding-top:40px;
  padding-right: 100px;
}
#logo{
  font-size: 44px;
  padding-left: 129px;
  font-weight: 300;
  line-height: 1.25;
}
.header {
  margin: 80px 0 0 0;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.home{
  margin-top: 100px;
  margin-left: 100px;
      font-size: 30px;
      
}
.home h1{
  font-weight: 1;
  line-height: 1.25;
}
#semanticimg{
  width: 108px;
  height: 108px;
  border-radius: 50%;
  float: left;
}
#semantics{
  margin: 80px;
  width: 34%;
  float:left;
  margin-bottom: 50px;
  
}
#semantics p{
  font-size: 20px;
  margin-bottom: 12px;
  padding
}

#accimg{
  
  width: 108px;
  height: 108px;
  border-radius: 50%;
  float: left;
}
#acc{
  margin: 80px;
  width: 40%;
  float: right;
  
}
#acc p{
  font-size: 20px;
  margin-bottom: 12px;
}
#scaimg{
  
  width: 108px;
  height: 108px;
  border-radius: 50%;
  float: left;
}
#scale{
  margin: 80px;
  width: 34%;
  float:left;
  
}
#scale p{
  font-size: 20px;
  margin-bottom: 12px;
  padding
}
#ligimg{
  
  width: 108px;
  height: 108px;
  border-radius: 50%;
  float: left;
}
#light{
  margin: 85px;
  width: 40%;
  float: right;
  
}
#light p{
  font-size: 20px;
  margin-bottom: 12px;
}
.cus{
  height: 140px;
  background: #eee;
  display: block;
}
#logos{
  width: 1000px;
  padding-left: 150px;
  paddin
}
.wrapper{
    margin: 48px;
   
    width: 100%;
    max-width: 1048px;
    
    padding: 0 180px;
}
.wrapper a{
      color: #ccc
}
