h2{
 
    opacity: 1;
    border-bottom: 0;
    float: left;
    display: inline-block;
    width: 172px;
    height: 39px;
    padding-left: 80px;
    
    
}
nav a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 600;
  font-size: large;
  
}
nav{
  text-align: right;
  padding-top: 22px;
}
#header{
  padding-top:40px;
  padding-right: 100px;
}
#logo{
  font-size: 44px;
  padding-left: 129px;
  font-weight: 300;
  line-height: 1.25;
}
nav a:hover {
    
    border-bottom: solid 1px green;

}
